{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}About |{% endblock %}
{% block content %}

<p class="title has-text-centered   ">Meet our Team Members</p>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="box">
                    <img class="image" src="{% static 'images/talha.jpg' %}" alt="">
                    <br>
                    <p class="subtitle has-text-centered"> <strong>CEO : </strong>Talha Mushtaq </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <img class="image" src="{% static 'images/imran.jpg' %}" alt="">
                    <br>
                    <p class="subtitle has-text-centered"> <strong>HR-Manager : </strong>Imran Shoukat </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <img class="image" src="{% static 'images/zaman.jpg' %}" alt="">
                    <br>
                    <p class="subtitle has-text-centered"> <strong>SEO : </strong>Muahmmad Zaman </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <img class="image" src="{% static 'images/ak.jpg' %}" alt="">
                    <br>
                    <p class="subtitle has-text-centered"> <strong>Developer : </strong>Syed Abdullah</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}