{% extends 'mainpage/base.html' %}
{% block title %}Address |{% endblock title %}
{% block content %}

<section class="section">
    <div class="columns">
        <div class="column is-3">
            <div class="box">
                <p class="subtitle is-size-6 has-text-centered">Logged in as
                    <strong>{{request.user.username|capfirst}}</strong>
                </p>
                <a href="{% url 'address' %}" class="button is-small is-fullwidth">Address</a>
                <a href="{% url 'deliveryaddress' %}" class="button is-small is-fullwidth">View Delivery Address</a>
                <a href="{% url 'passwordchange' %}" class="button is-small is-fullwidth">Change Password</a>
                <a href="{% url 'feedback' %}" class="button is-small is-fullwidth">Feedback and Suggestions</a>

            </div>
        </div>
        <div class="column is-4">
            <div class="box">
                <p class="subtitle has-text-centered">Delivery Address Form</p>
                <form method="POST">
                    {% if messages %}
                    {% for messages in messages %}
                    <p class="has-text-centered is-size-5">{{messages}}</p>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <button class="button is-fullwidth is-success">Save</button>
                </form>
            </div>
        </div>
        <div class="column is-5">
            <div class="box">
                <p class="subtitle has-text-centered is-size-5">Note</p>
                <p>1-Please Enter Full Name in Name Field</p>
                <p>2-Please Enter your own cell number before placeing order</p>
                <p>3- You can add multiple address</p>
                <p>4- Please give your authentic email incase you forgot your account password you email will be used to
                    reset password</p>
                <p>5- Your Order Details will be sent to email and phone number</p>

            </div>
        </div>
    </div>
</section>

{% endblock content %}