{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}Check Outl |{% endblock title %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <form action="/paymentmethod">
                    {% for ad in add %}
                    {% endfor %}
                    <div class="box">
                        <p class="subtitle has-text-centered">Address</p>
                    </div>
                    {{fom}}
                    {{fm}}
                    <hr>
                    <p class="has-text-centered mt-3">Total Payable Amount <strong> RS : {{totalamount}}</strong></p>
                    <hr>
                    <button class="button is-fullwidth is-link">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6">

        </div>
    </div>
</section>
{% endblock content %}