{% extends 'mainpage/base.html' %}
{% block title %}Delivery Address |{% endblock title %}
{% block content %}

<section class="section">
    <div class="columns is-multiline">
        <div class="column is-3">
            <div class="box">
                <p class="subtitle is-size-6 has-text-centered">Logged in as
                    <strong>{{request.user.username|capfirst}}</strong>
                </p>
                <a href="{% url 'address' %}" class="button is-small is-fullwidth">Address</a>
                <a href="{% url 'deliveryaddress' %}" class="button is-small is-fullwidth">View Delivery Address</a>
                <a href="{% url 'passwordchange' %}" class="button is-small is-fullwidth">Change Password</a>
                <a href="{% url 'feedback' %}" class="button is-small is-fullwidth">Feedback and Suggestions</a>

            </div>
        </div>
        <div class="column is-4">
            {% for delivery in delivery %}
            <div class="box">
                <p class="subtitle">Delivery Address -{{forloop.counter}}</p>
                <p>Name: {{delivery.fullname}}</p>
                <p>City: {{delivery.city}}</p>
                <p>State: {{delivery.state}}</p>
                <p>Address: {{delivery.address}}</p>
                <p>Email: {{delivery.email}}</p>
                <p>Contact No: {{delivery.phone_no}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}