{% extends 'mainpage/base.html' %}
{% block title %}FeedBack |{% endblock title %}
{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-3">
            <div class="box">
                <p class="subtitle is-size-6 has-text-centered">Logged in as
                    <strong>{{request.user.username|capfirst}}</strong>
                </p>
                <a href="{% url 'orders' %}" class="button is-small is-fullwidth">Orders</a>
                <a href="{% url 'passwordchange' %}" class="button is-small is-fullwidth">Change Password</a>
                <a href="{% url 'feedback' %}" class="button is-small is-fullwidth">Feedback and Suggestions</a>

            </div>
        </div>
        <div class="column is-4">
            <div class="box">
                <form method="POST">
                    <p class="title is-size-4 has-text-centered ">Please give your Feedback here</p>
                    <hr>
                    {% if messages %}
                    {% for messages in messages %}
                    <p class="has-text-centered is-size-5">{{messages}}</p>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <button class="button is-success is-fullwidth">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}