{% extends 'mainpage/base.html' %}
{% block title %}Home |{% endblock title %}



{% block content %}

<section class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <p class=" menu menu-label has-text-centered"> <strong class="is-size-5 ">LogIn</strong> </p>
                <form method="POST">
                    {% if messages %}
                    {% for messages in messages %}
                    <p class="has-text-centered is-size-5">{{messages}}</p>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <button class="button is-success is-fullwidth">Login</button>
                    <p class="has-text-centered">or</p>
                    <a href="{% url 'signup' %}" class="button is-fullwidth is-link is-samll">Sign Up</a>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}