{% extends 'mainpage/base.html' %}
{% block title %}Address |{% endblock title %}
{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-3">
            <div class="box">
                <p class="subtitle is-size-6 has-text-centered">Logged in as
                    <strong>{{request.user.username|capfirst}}</strong>
                </p>
                <a href="{% url 'orders' %}" class="button is-small is-fullwidth">Orders</a>
                <a href="{% url 'passwordchange' %}" class="button is-small is-fullwidth">Change Password</a>
                <a href="{% url 'feedback' %}" class="button is-small is-fullwidth">Feedback and Suggestions</a>

            </div>
        </div>
        <div class="column is-4">
            <div class="box">
                <p class="subtitle has-text-centered">Password Change Form</p>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <button class="button is-success is-fullwidth">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}